<h1 [@titulo] style="font-size: 2em; text-align: center; margin-top: 10px; font-weight: bold;">Top juegos de Nintendo</h1>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<div>
    <div id="grid" class="list-videojocs">
        <div *ngFor='let videojoc of listaVideojocs; let i = index;'>
            <mat-card [@hover]=videojoc.activeI (mouseover)="toggleCard(i)" (mouseout)="toggleCard(i)" class="videojocs-card">
                <mat-card-header id="header">
                    <mat-card-title id="single-line">
                        <h1>{{videojoc.name}}</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content  [@fade]>
                    <img (click)="mostrarInfoJuego(videojoc)" routerLink="/info" src="{{videojoc.background_image}}" alt="">
                    <div id="description" class="description" style="margin-top: 10px;">
                        {{videojoc.description}}
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <!-- Poner el rating del juego en 4 categorias -->
                    <div class="rating">
                        <i class="bi bi-star">
                            <mat-slider class="slider" [value]="videojoc.rating" step="0.1" [min]="0" [max]="5"
                                [thumbLabel]="true" [tickInterval]="1" [vertical]="false" [disabled]="true">
                            </mat-slider>
                            <i class="bi bi-star-fill"></i>
                        </i>
                    </div>

                    <!-- Boton de favoritos -->
                    <button class="fav" [@favoritos]=videojoc.active mat-raised-button color="primary"
                        (click)="addFavorito(videojoc); toggle(i)">
                        <mat-icon>favorite</mat-icon>
                    </button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>