<h1 style="font-size: 2em; text-align: center; margin-top: 10px; font-weight: bold;">Informacion</h1>
<!-- Nombre del juego -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- EStilo de la pagina -->
<style>
    /* Posiciona imagen a la izquierda */
    #grid {
        margin-left: 2%;
        margin-right: 2%;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        
    }

    #grid > div {
        width: calc(30% - 2px);
        margin: 1px;
        padding: 1px;
    
    }

    #grid > div > img {
        width: 100%;
        height: auto;
    }

    #grid > #plataformas > div {
        flex-wrap: nowrap;  
    }

    /* HAcer qe ue las imagenes del carousel ocupe todo el espacio disponible */
    #carousel > img {
        width: 100%;
        height: auto;
    }

    #grid > div #texto {
        margin-top: 10px;

        padding-right: 10%;
    }

    

</style>

<!-- Mostrar toda la informacion del juego -->

<div [@fade]>
    <div class="info-videojoc">
        <div id="grid" *ngFor='let videojoc of videojoc'>
            <!-- Poner imagen de fondo en la izquierda -->
            
            <div id="carousel">
                <h1>{{videojoc.name}}</h1>
                <!-- Carousel de capturas de pantalla -->
                <mdb-carousel class="carousel-fade" [animation]="'slide'" [interval]="8000">
                    <mdb-carousel-item *ngFor='let screenshot of videojoc.short_screenshots'>
                        <img style="width: 100%; height: auto;" [src]="screenshot.image" alt="">
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
            
            
            <div id="cosas">
                <h1>Generos e informacion general</h1>
                <!-- Poner el rating del juego en 4 categorias -->
                <div class="rating">
                    <i class="bi bi-star">
                        <mat-slider class="slider" [value]="videojoc.rating" step="0.1" [min]="0" [max]="5"
                            [thumbLabel]="true" [tickInterval]="1" [vertical]="false" [disabled]="true">
                        </mat-slider>
                        <i class="bi bi-star-fill"></i>
                    </i>

                    <!-- Generos del juego -->
                    <div class="genres">
                        <div *ngFor='let genre of videojoc.genres'>
                            <mat-chip-list>
                                <mat-chip color="primary" selected>
                                    {{genre.name}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>


                    <!-- Fecha de lanzamiento -->
                    <div class="release-date">
                        <mat-chip-list>
                            <mat-chip color="primary" selected >
                                {{videojoc.released | date: 'dd/MM/yyyy'}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <!-- Esbr rating del juego -->
                <div class="esbr-rating">
                    <mat-chip-list>
                        <mat-chip color="primary" selected >
                            {{videojoc.esrb_rating.name}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
                </div>
            </div>
            <div id="stores">
                <h1>Tiendas</h1>
                <!-- Tiendas del juego -->
                <div class="stores">
                    <div *ngFor='let store of videojoc.stores'>
                        <mat-chip-list>
                            <mat-chip color="primary" selected  >
                                <a href="https://{{store.store.domain}}" target="_blank">
                                    {{store.store.name}}
                                </a>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div id="texto">
                <h1>Descripcion</h1>
                <!-- Descripcion del juego -->
                <div style="margin-top: 1%; text-align: justify;" class="description">

                    {{videojoc.description}}

                </div>
            </div>
            <div id="plataformas">
                <h1>Plataformas</h1>
                <!-- Plataformas del juego -->
                
                <div class="platforms">
                    <!-- Crear un flex-wrap para que las plataformas sean una fila -->

                    
                    
                    <div *ngFor='let platform of videojoc.platforms'>
                        <mat-chip-list>
                            <mat-chip color="primary" selected>
                                {{platform.platform.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div class="structure">
                </div>
            
        </div>
    </div>
</div>
