<p>videojocs-fav works!</p>

<!-- Mostrar la lista de favoritos -->


    <h1>Favoritos</h1>
    <div class="list-videojocs">
    <div *ngFor='let videojoc of listaFav; let i=index '>
        <mat-card class="videojocs-card">
            <mat-card-header>
                <mat-card-title>
                    <h1>{{videojoc.name}}</h1>
                </mat-card-title>
                <mat-card-subtitle>
                    <h2>{{videojoc.description}}</h2>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content [@fade]>
                <img src="{{videojoc.background_image}}" alt="">
                <a href="https://api.rawg.io/api/games/{{videojoc.id}}/description"></a>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">
                    <a href="https://api.rawg.io/api/games/{{videojoc.id}}?key=6081b03a91c746419373f32848d687e3">Ver</a>
                </button>
                <!-- Boton de favoritos -->
                <button mat-raised-button color="primary" (click)="eliminarFav(videojoc); eliminarFavLista(i, videojoc)">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        </div>  
    </div>
