/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    no-repeat center center fixed;
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0 0.5em 0;
}

.videojocs-card {
  height: 500px;
}

/** Hacer mas grande la letra del menu desplegable */
.mat-menu-item {
  font-size: 1em;
}

.list-videojocs {
  display: flex;

  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
}

img {
  width: 300px;
  height: 160px;
  border-radius: 10px;
}

/** Mejorar la barra de scroll */

p {
  font-size: 2em;
}

/** Mejorar diseño de la lista */
.list-videojocs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-videojocs ul li {
  display: inline-block;
  margin: 0 10px;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.mat-card {
  width: 334px;
  margin: 1em;
  border-radius: 10px !important;
}

/** Hacer que la descripcion este limitada pero se pueda hacer scroll */
.mat-card-content div {
  overflow: auto;
  height: 160px;
  margin-top: 1%;
}

/* Poner flecha derecha a la derecha */

.arrow.right {
  float: right;
  margin-right: 10px;
}

#flechaDer {
  position: absolute;
  margin-top: 17%;
  margin-right: 1%;
}

/* crear grid de 3 en 3 */

#grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1%;
}

#description::-webkit-scrollbar {
  -webkit-appearance: none;
}

#description::-webkit-scrollbar:vertical {
  width:10px;
}

#description::-webkit-scrollbar-button:increment,#description::-webkit-scrollbar-button {
  display: none;
} 

#description::-webkit-scrollbar:horizontal {
  height: 10px;
}

#description::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

#description::-webkit-scrollbar-track {
  border-radius: 10px;  
}

#description{
  overflow-y: scroll;
  height: 130px;
  margin-top: 1%;
}


/* Posicionar el boton de favoritos a la derecha */

.fav {
  float: right;
  position: fixed;
}

/* Mejorar el diseño de la lista de favoritos */
